body
{
  color: #333;
}
header
{
 hbackground-color: blue;
}
h1
{
	text-align: center;
	background-color: white;
}
h2
{
	font-family: Noto Sans KR;
	font-style: Noto Sans KR;
	color: black;
}
p
{
	font-sixe: 16px;
}
main
{
  margin:20px;
}
table, th, td
{
  border: 1px solid black;
}
img
{
  width: 80%;
}
nav a 
{
  display: inline-block;
}
nav a 
{
  padding: 10px;
}

